<!DOCTYPE html>
{% load bootstrap_toolkit %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Desarrolladores en Venezuela</title>
    <meta name="description" content="">
    <meta name="author" content="YACFirm">
    {% bootstrap_stylesheet_tag %}
    <style type="text/css">
        body {
            padding-top: 60px;
        }
    </style>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    {% bootstrap_javascript_tag %}
    {% block extra_head %}{% endblock %}
</head>

<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="{% url "home" %}">Desarrolladores en Venezuela</a>
            <ul class="nav">
                <li><a href="/" class="">Inicio</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Desarrolladores<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="{% url "developer_list" %}">Todos</a></li>
                      <li><a href="{% url "developer_create" %}">Inscribirse</a></li>
                    </ul>
                </li>
                <li>
                <a href="{% url "contact" %}">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">

    {% bootstrap_messages %}

    {% block content %}Empty page{% endblock %}

    <p><hr></p>

    <footer class="row">
    </footer>

</div> <!-- container -->

</body>
</html>
