{% extends "base.html" %}
{% load bootstrap_toolkit %}

{% block content %}
<h2>Contacto</h2>
<form action="{% url "contact" %}" method="post">
  {% csrf_token %}
  {{form|as_bootstrap}}
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Enviar</button>
  </div>
</form>
{% endblock %}
